body{
  font-size: 12px;
}


:root{
  --bg-color-active: rgba(0, 187, 255, 0.6);
  --bg-color: rgba(0, 187, 255, 0.2);
  --delay: 1s;
}


.letter{
  position: relative;
  width: 18.75em;
  height: 18.7em;
  float: left;
  font-size: .5em;
  margin-left: -39px;
}

.letter:first-child{
  margin-left: 0;
}

.fifth-letter{
  margin-right: 38px;
}

.seventh-letter{
  margin-right: 19px;
}


.letter div{
  background-color: var(--bg-color);
  position: absolute;
  border: .0625em solid rgba(0, 187, 255, 0.9);
  box-sizing: border-box;
  transition: background-color 1s ease;
  width: 6.25em;
  height: 6.25em;
}

div.letter-active-item, .letter div:hover{
  background-color: var(--bg-color-active);
  cursor: pointer;
}



.c-1{
  top: 0;
  left: 12.375em;
}

.c-2{
  top: 0;
  left: 6.125em;
}

.c-3{
  top: 12.375em;
  left: 0;
}

.c-4{
  top: 12.375em;
  left: 3.0625em;
}

.s-1{
  top: 0;
  left: 12.375em;
}

.s-2{
  top: 0;
  left: 9.25em;
}

.s-3{
  top: 6.1875em;
  left: 6.1875em;
}

.s-4{
  top: 12.375em;
  left: 3.125em;
}

.s-5{
  top: 12.375em;
  left: 0;
}

.o-1{
  left: 12.4375em;
}

.o-2{
  left: 6.1875em;
}

.o-3{
  left: 9.25em;
  top: 3.0625em;
}
.o-4{
  top: 12.375em;
  left: 0;
}


.f-1{
  left: 6.125em;
}

.f-2{
  left: 3em;
}

.f-3{
  top: 6.1875em;
  left: -.0625em;
}

.f-4{
  top: 6.1875em;
  left: 6.125em;
}

.f-5{
  top: 6.1875em;
  left: 3.0625em;
}

.f-6{
  top: 12.375em;
  left: -.0625em;
}


.t-1{
  left: 3em;
}

.t-2{
  left: 6.125em;
}

.t-3{
  left: 9.25em;
}

.t-4{
  top: 6.1875em;
  left: 6.125em;
}

.t-5{
  top: 12.375em;
  left: 6.125em;
}

.l-1{
  left: 6.125em;
}

.l-2{
  left: 3.0625em;
  top: 6.1875em;
}

.l-3{
  top: 12.375em;
  left: 0;
}

.l-4{
  top: 12.375em;
  left: 3.0625em;
}

.e-1{
  left: 6.25em;
}

.e-2{
  left: 3.125em;
}

.e-3{
  top: 6.1875em;
  left: 0;
}

.e-4{
  top: 6.1875em;
  left: 6.25em;
}

.e-5{
  top: 6.1875em;
  left: 3.125em;
}

.e-6{
  top: 12.375em;
  left: .0625em;
}

.e-7{
  top: 12.375em;
  left: 3.125em;
}

.x-1{
  left: 9.25em;
}

.x-2{
  left: 3.0625em;
}

.x-3{
  top: 6.1875em;
  left: 6.1875em;
}

.x-4{
  top: 12.375em;
  left: 3.125em;
}

.x-5{
  top: 12.375em;
  left: 9.25em;
}






.skew-reverse-z{
  transform: skewY(-45deg) rotateZ(-90deg)!important;
}

.size-x-2{
  width: 12.4375em!important;
}

.size-y-2{
  height: 12.4375em!important;
}

.size-x-3{
  width: 12.4375em!important;
}

.size-y-3{
  height: 100px!important;
}

.letter-skew{
  transform: skew(-45deg);
}

.letter-skew-reverse{
  transform: skew(45deg);
}
